/*form.css
author Dikshant Bawa
date 1/5/2014
A style sheet for form of customer.htm
*/

.detail {
	width: 40%;
	margin: 50px;
	display: inline-block;
    text-align: center;
}

#detail2 {
	width: 30%;
	max-width:90em;
	margin-left: 450px;
	margin-top: 50px;
	display: inline-block;
    text-align: center;
}

/* Making Form Elements Align*/
label {
    display: inline-block;
    width:100px;
    text-align: right;
}

/*MAking Checkbox inline*/
#chk{
display:inline;
}

/*Table settings*/
td,th{background-color: rgb(0,0,0);}
#vendors{text-align:center;margin:0px 250px;}
#query{text-align:center;margin:0px 400px;}
.filters{text-align:center;margin:0px 250px;}
table,th,td {border: 1px solid #ffffff;}
td.point{color:red;}


a{color:red;}

/*Changing Font Sixe for Legends*/

#mainlegend{
font: oblique normal bold 16pt/24pt Helvetica, sans-serif;
color :red;
}
.addresslegend{
font: oblique normal bold 12pt/16pt Helvetica, sans-serif;
color :red;
}
	
 section {
max-width:90em;
text-align :center;
}

footer{
	margin-top:50px;
}	