/* name=index.css, created=4/4/14 ,  Last Modified= 4/5/14 , purpose=css file for assignment2 Camera product, author=dikshant */
h1{ color:white;font-style:italic;}
h2{text-align:center;}
h3{font: oblique normal bold 16pt/24pt Helvetica, sans-serif;text-align:left;}
p a {text-decoration:none; color:red;}
.ref{text-decoration:none; color:red;}
p.show{font: oblique normal bold 12pt/16pt Helvetica, sans-serif; }
/*body */
body
{
background-image:url('images/darkwood.jpg'); 
color:white;
}
.video{margin-left:400px;}

/* ABout me */
#myname{ text-align:right;font-size:150%;}
#swinid{ text-align:right;font-family: Arial, sans-serif; }
#course{color:#cc3300;text-align:right; }
img#myphoto{
border-style:groove;padding:10px; float:left;}
h3#timetable{clear:both;text-align:center;padding-top:30px;}

/*Table settings*/
td,th{background-color: rgb(0,0,0);}
#timetable2{text-align:center;margin:0px 450px;}
#tablespecs{text-align:center;margin: 0px 160px; clear:both;}
table,th,td {border: 1px solid #ffffff;}
td.point{color:red;}



/* Tabs for product Page*/
#tabs ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#tabs li {
  text-align: center;
  display: table-cell;
  width: 14%;
  padding:10px;
  height: auto;  
}
#tabs a:hover {font-weight: bold;border: 1px solid red;}
#tabs a {
text-decoration:none;
font-size:180%;
  display: block;
  min-height: 100%;
  padding: 4px 5px;
  background-color: #000000;
  color: white;
  
}

/* menu in line*/
nav  ul { list-style-type: none;margin: 0;
padding: 0;text-align: center;}
nav
{ margin: 4px 10px 16px 10px; 
background-color:#000000;

}

nav ul li { display: inline;font-size:26px; position: relative;}
nav ul li a { text-decoration: none;
padding: .2em 1em;color:white; }

ul li {
    position: relative;
}
/*sub menu*/
ul li ul {
    display:none;
    position: absolute;
    font-size:0px;
	left:-20px;
}
ul li :hover  li  {border: 1px solid #ffffff}
ul li:hover ul {
    display:block;
}

nav ul li a:hover {font-weight: bold;}
/*nav ul li A:visited { color: blue }*/
nav ul li A:active { color: red }

/* menu border*/
nav { border: 1px solid #ffffff }

/* image */
img.wallpaper{display: block;
margin-top:80px;
    margin-left: auto;
    margin-right: auto; }

/*article sections*/
.feature{border-style:double;
border-width:2px;
		width:30%;height:130px;margin: 30px 30px 50px 10px; 
		float:left; }
		.feature P:first-letter { font-size: 200%;font-style: italic; font-weight: bold; float: left}
		.feature P:first-line {font-weight:bold;color:red}
		
/*aside*/
aside{ margin-left:100px;clear: both;}


/*footer*/
footer a {text-decoration: none;color: red;}
footer p{text-align:center;}

/* Animation*/
div#d
{
width:100px;
height:100px;
background:red;
animation:myfirst 5s;
}

@keyframes myfirst
{
from {background:red;}
to {background:yellow;}
}
